<!doctype html>
{% load static %}
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

  <body class="bodsy" style="text-align: center;">
    <section name="form">
        <p style="font-size: 20px;">Isi Status</p>
        <form id="form" method="POST">
            {% csrf_token %}
            <div class ="form-group">
            {% for fields in form %}
            {{ fields }}
            {% endfor %}
            </div>
            <br>
            <button type="submit" class="btn btn-outline-dark" style="margin-bottom: 3%;">Submit</button>
        </form>

        {% for page in status %}
        <div class="container">
          <div class="row">
            <div class="col">
              <p> {{ page.status }} </p>
            </div>
            <div class="col">
              <p> {{ page.time }} </p>
            </div>
          </div>
        </div>
        {% endfor %}
    </section>
  </body>
</html>